#side-nav {
  overflow: hidden;
  margin: 100px 0px 0px 20px;
}

#side-nav:before,
#side-nav:after {
  content: ' ';
  display: table;
}

#side-nav:after {
  clear: both;
}

.nav-list li a {
  height:60px;
  font-size:1.4em;
  line-height:40px;
}

body .nav-list>.active>a{
  background-color:#337ab7;
  color:white;
  border-radius: 5%;
}

sub {
  background:white;
  color:white;
}

.jumbotron {
    margin-top:-20px;
}